<div class='container d-flex justify-content-center home'>
  <div class='align-self-center'>
    <%= simple_form_for(@holiday) do |form| %>
      <%= form.input :date %>
      <%= form.submit %>
    <% end %>
  </div>
</div>