@import "~bootstrap/scss/bootstrap";

body {
  min-width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

@import "./home.scss";
@import "./holidays.scss";